<div>
  <div class="mb-10 flex flex-col justify-between sm:flex-row">
    <h1 class="font-bold mb-4">ユーザー一覧</h1>
    <div>
      <%= search_form_for @q, url: users_path do |f| %>
        <div class="flex gap2 justify-center">
          <div>
            <%= f.text_field :name_cont, placeholder: "ユーザー名", class: "form-input" %>
          </div>
          <div class="inline" ><%= f.submit "検索", class: "secondary-btn" %></div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "user_relations/users" %>
  <% breadcrumb :user_path %>
</div>
