<!-- ページネーションの見た目 -->
<%= paginator.render do %>
  <nav>
    <ul class="flex justify-center pagination">
        <%#= first_page_tag unless current_page.first? %><!-- 最初 -->
      <div class="edge"><%= prev_page_tag unless current_page.first? %></div>
      <% each_page do |page| %>
        <% if page.left_outer? || page.right_outer? || page.inside_window? %>
          <%= page_tag page %>
        <%# elsif !page.was_truncated? -%>
          <%#= gap_tag %><!-- ...のやつ -->
        <% end %>
      <% end %>
      <div class="edge"><%= next_page_tag unless current_page.last? %></div>
      <%#= last_page_tag unless current_page.last? %> <!-- 最後 -->
    </ul>
  </nav>

  <!-- 検証でタグを確認 -->
  <style>
    .pagination {          
      margin-top: 20px;
      font-size: 15px;
    }
    .pagination>li>a {          
      border: none;
      color: #696969;
      padding: 1px 7px;
    }
    .pagination>.active>a {     
      background: #93c9ff;
      border-radius: 150px;
    }
    .pagination>li>a:hover {        
      border-radius: 15px;
    }
    .edge {
      margin: 0 20px;
    }
    .edge:hover {
      text-decoration: underline;
    }
  </style>
<% end %>
