<div class="flex justify-between items-center">
  <% breadcrumb :edit_board_path %>
  <h1 class="font-bold">掲示板編集</h1>
  <%= link_to "掲示板一覧", boards_path, class: "secondary-btn" %>
</div>

<%= render "shared/form" %>