<% if flash[:error] %>
  <% flash[:error].each do |msg| %>
    <div class="p-4 mb-4 w-full font-bold bg-red-300 border-2 border-red-400 rounded"><%= msg %></div>
  <% end %>
<% end %>
<div class="flex justify-between items-center">
  <h1>掲示板作成</h1>
    <%= link_to "掲示板一覧", root_path, class: "secondary-btn" %>
</div>

<%= render "shared/form"%>
